<% if @transactions.present? %>
<h3><%= @transactions.first.category.total_amount %></h3>
<ul>
  <%@transactions.each do |transaction|%>
  <li><%= transaction.transaction_item.name %></li>
  <li><%= transaction.transaction_item.amount %></li>
  <%end%>
</ul>
<% end %>

<div class="btn-container">
    <%= link_to new_category_transaction_item_path(category_id: params[:category_id]), class:"link-container" do %>
        <button class="btn btn-success">Add Transaction</button>
    <% end %>
</div>
