<div class="container mt-4">
    <h3 class="display-1 text-center">Categories</h3>
    <hr>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Icon</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Name</th>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <%= render category%>
        <% end %>
    </tbody>
    </table>
</div>
<div class="btn-container">
    <%= link_to new_category_path, class:"link-container" do %>
        <button class="btn btn-success">Add Category</button>
    <% end %>
</div>